<!-- start bereich "we help you to find your dream home" -->
<!-- wird bearbeitet von nikolai -->
<section id="about" class="flex gap-20 bg-[#ffffff] mx-48 my-10 p-10">
  <div><img src="asstes/pics/Bild2.png" alt="Bild2" /></div>
  <div>
    <h2 class="text-left font-bold text-4xl">
      We Help You To Find Your Dream Home
    </h2>
    <p class="text-left">
      From cozy cottages to luxurious estates, our dedicated team guides you
      through every step of the journey, ensuring your dream home becomes a
      realit
    </p>

    <ul class="flex gap-10">
      <li>
        <div class="font-bold text-4xl">8K+</div>
        <div>Houses Available</div>
      </li>
      <li>
        <div class="font-bold text-4xl">6K+</div>
        <div>Houses Sold</div>
      </li>
      <li>
        <div class="font-bold text-4xl">2K+</div>
        <div>Trustet Agents</div>
      </li>
    </ul>
  </div>
</section>
