<!-- start bereich "our popular residences"-->
<!-- wird bearbeitet von nikolai -->
<section id="residences">
  <h2 class="text-center font-bold text-4xl bg-[#ffffff]">
    Our Popular Residences
  </h2>

  <section class="flex justify-center gap-8">
    <!-- Card 1 -->
    <article class="bg-[#ddc7bb] rounded-xl shadow-lg">
      <img class="rounded-t-xl" src="asstes/pics/Bild_L.png" alt="Bild_L" />
      <div class="p-6">
        <p class="flex font-bold gap-2">
          <img src="asstes/icons/location.png" alt="Location" />
          San Francisco, California
        </p>

        <p class="flex gap-4">
          <span class="flex gap-1 items-center">
            <img
              src="asstes/icons/rooms.png"
              alt="rooms"
              class="bg-[#FFFFFF]"
            />
            4 Rooms
          </span>

          <span class="flex gap-1 items-center">
            <img src="asstes/icons/size.png" alt="size" class="bg-[#FFFFFF]" />
            3,500 sq ft
          </span>
        </p>

        <div class="flex justify-between items-center mt-4">
          <button class="rounded-lg text-amber-50 bg-[#2b1b12] px-3 py-1">
            Sign up
          </button>
          <span class="font-bold">$2,500,000</span>
        </div>
      </div>
    </article>

    <!-- Card 2 -->
    <article class="bg-[#ddc7bb] rounded-xl shadow-lg">
      <img class="rounded-t-xl" src="asstes/pics/Bild_M.png" alt="Bild_M" />
      <div class="p-6">
        <p class="flex font-bold gap-2">
          <img src="asstes/icons/location.png" alt="Location" />
          Beverly Hills, California
        </p>

        <p class="flex gap-4">
          <span class="flex gap-1 items-center">
            <img
              src="asstes/icons/rooms.png"
              alt="rooms"
              class="bg-[#FFFFFF]"
            />
            3 Rooms
          </span>

          <span class="flex gap-1 items-center">
            <img src="asstes/icons/size.png" alt="size" class="bg-[#FFFFFF]" />
            1,500 sq ft
          </span>
        </p>

        <div class="flex justify-between items-center mt-4">
          <button class="rounded-lg text-amber-50 bg-[#2b1b12] px-3 py-1">
            Sign up
          </button>
          <span class="font-bold">$850,000</span>
        </div>
      </div>
    </article>

    <!-- Card 3 -->
    <article class="bg-[#ddc7bb] rounded-xl shadow-lg">
      <img class="rounded-t-xl" src="asstes/pics/Bild_R.png" alt="Bild_R" />
      <div class="p-6">
        <p class="flex font-bold gap-2">
          <img src="asstes/icons/location.png" alt="Location" />
          Palo Alto, California
        </p>

        <p class="flex gap-4">
          <span class="flex gap-1 items-center">
            <img
              src="asstes/icons/rooms.png"
              alt="rooms"
              class="bg-[#FFFFFF]"
            />
            6 Rooms
          </span>

          <span class="flex gap-1 items-center">
            <img src="asstes/icons/size.png" alt="size" class="bg-[#FFFFFF]" />
            4,000 sq ft
          </span>
        </p>

        <div class="flex justify-between items-center mt-4">
          <button class="rounded-lg text-amber-50 bg-[#2b1b12] px-3 py-1">
            Sign up
          </button>
          <span class="font-bold">$3,700,000</span>
        </div>
      </div>
    </article>
  </section>
</section>
